{% extends 'baseapp/index.html' %}

{% load static %}

{% block body %}

<section class="error_area">
	<div class="container">
		<div class="error_inner">
			<div class="error_inner_text">
				<h3>404</h3>
				<h4>Oops! Что то пошло не так</h4>
				<h5>К сожалению, такая страница не найдена</h5>
				<a class="pink_btn" href="{% url 'show_catalog' %}">На главную</a>
			</div>
		</div>
	</div>
</section>

<footer class="footer_area">
	<div class="footer_widgets">
		<div class="container">
			<div class="row footer_wd_inner">
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_about_widget">
						<a href="{% url 'show_catalog' %}"><img src="{% static 'img/banner/logo_1.png' %}" alt="" width="180"></a>
						<ul class="nav">
							<li><a target="_blank" href="https://www.facebook.com/ConfectionaryPolinka31"><i class="fa fa-facebook"></i></a></li>
							<li><a target="_blank" href="https://www.instagram.com/polinka_belgorod"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</aside>
				</div>
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Время работы</h3>
						</div>
						<ul class="list_style">
							<h4>8:00 - 18:00</h4>
							<h4>Без выходных</h4>
						</ul>
					</aside>
				</div>
				<div class="col-lg-3 col-6" id="contact">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Отдел продаж</h3>
						</div>
						<a href="tel:+74722732025"><h4>+7 (4722) 73-20-25</h4></a>
						<a href="tel:+74722383457"><h4>+7 (4722) 38-34-57</h4></a>
						<a href="tel:+79092028038"><h4>+7 (909) 202-80-38</h4></a>
						<a href="mainto:belgas2012@yandex.ru"><h5>belgas2012@yandex.ru</h5></a>
					</aside>
				</div>
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Адрес</h3>
						</div>
						<p>Белгородская область, <br />Белгородский район, <br />п. Комсомольский,<br /> ул. Шоссейная, д. 19</p>
					</aside>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_copyright">
		<div class="container">
			<div class="copyright_inner">
				<div class="float-left">
					<h5>Разработано - Annasoft</h5>
				</div>
			</div>
		</div>
	</div>
</footer>

{% endblock %}