{% extends 'baseapp/base.html' %}

{% load static %}

{% block body %}

<!--================Main Header Area =================-->
<header class="main_header_area five_header">
	<div class="top_header_area row m0">
		<div class="container">
			<div class="float-left">
				<a href="tel:+74722732025"><i class="fa fa-phone" aria-hidden="true"></i> +7(4722)73-20-25</a>
				<a href="tel:+74722383457"><i class="fa fa-phone" aria-hidden="true"></i> +7(4722)38-34-57</a>
				<a href="mainto:info@cakebakery.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> info@cakebakery.com</a>
			</div>
			<div class="float-right">
				<ul class="h_social list_style">
					<li><a target="_blank" href="https://www.facebook.com/ConfectionaryPolinka31"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="https://www.instagram.com/polinka_belgorod"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main_menu_area">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{% url 'show_catalog' %}">
					<img width="180" src="{% static 'img/test_logo_3.png' %}" alt="">
					<!-- <img width="180" src="{% static 'img/logo.png' %}" alt=""> -->
				</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-end">
					
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>
<!--================End Main Header Area =================-->

{% block content %}

{% endblock %}

<!--================Footer Area =================-->
<footer class="footer_area">
	<div class="footer_widgets">
		<div class="container">
			<div class="row footer_wd_inner">
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_about_widget">
						<img src="{% static 'img/footer-logo.png' %}" alt="">
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui bland itiis praesentium voluptatum deleniti atque corrupti.</p>
						<ul class="nav">
							<li><a target="_blank" href="https://www.facebook.com/ConfectionaryPolinka31"><i class="fa fa-facebook"></i></a></li>
							<li><a target="_blank" href="https://www.instagram.com/polinka_belgorod"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</aside>
				</div>
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Время работы</h3>
						</div>
						<ul class="list_style">
							<h4>8:00 - 18:00</h4>
							<h4>Без выходных</h4>
						</ul>
					</aside>
				</div>
				<div class="col-lg-3 col-6" id="contact">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Бухгалтерия</h3>
						</div>
						<a href="tel:+74722383233"><h4>+7 (4722) 38-32-33</h4></a>
						<p>Белгородский р-н, <br />п. Комсомольский,<br /> ул. Шоссейная, д. 19</p>
						<h5>cakebakery@contact.co.in</h5>
					</aside>
				</div>
				<div class="col-lg-3 col-6">
					<aside class="f_widget f_contact_widget">
						<div class="f_title">
							<h3>Производство</h3>
						</div>
						<p>Белгородский р-н, <br />п. Комсомольский,<br /> ул. Шоссейная, д. 28</p>
						<h5>cakebakery@contact.co.in</h5>
					</aside>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_copyright">
		<div class="container">
			<div class="copyright_inner">
				<div class="float-left">
					<h5>© Copyright  cakebakery WordPress WooCommerce Theme. All right reserved.</h5>
				</div>
				<!-- <div class="float-right">
					<a href="#">Purchase Now</a>
				</div> -->
			</div>
		</div>
	</div>
</footer>
<!--================End Footer Area =================-->

<!--================Search Box Area =================-->
<div class="search_area zoom-anim-dialog mfp-hide" id="test-search">
	<div class="search_box_inner">
		<h3>Search</h3>
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Search for...">
			<span class="input-group-btn">
				<button class="btn btn-default" type="button"><i class="icon icon-Search"></i></button>
			</span>
		</div>
	</div>
</div>
<!--================End Search Box Area =================-->

{% endblock %}